__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/
.DS_Store
Thumbs.db

outputs/
models/
checkpoints/
logs/

data/full_dataset.csv
data/images/
*.npy
*.pt
*.pth
*.ckpt